
#position-outer {
  width: 500px;
  height: 400px;
  border: 1px solid red;
  overflow:scroll;

}
.css-positions-1 {
  width: 100px;
  height: 80px;
  background-color: rgb(0, 34, 255);
  left: 100px;
  top: 50px;
  position: relative;
}
.css-positions-2 {
  width: 100px;
  height: 80px;
  background-color: rgb(255, 0, 72);
}
.css-positions-3 {
  position: absolute;
  left: 300px;
  width: 100px;
  height: 80px;
  background-color: rgb(0, 255, 47);
}
.css-positions-4 {
  position: fixed;
  bottom: 200px;  
  width: 100px;
  height: 80px;
  background-color: rgb(166, 0, 255);
}
.css-positions-5 { 
    width: 100%;
    height: 80px;
    background-color: rgb(242, 255, 0);
    position: sticky;
    top: 0;
  }
  #explain-box-model{
    width: 400px;
    border: 10px solid black;
    height: 300px;
    margin: 20px;
    padding: 60px;
  }
