*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#main-outer{
  display: flex;
  flex-direction: column;
}

.topic-format{
  font-weight: bold;
  padding-bottom: 10px;
}
p{
  text-align: justify;
  padding: 5px;
}
#left-pane{
  width: 50%;
  height: 100vh;
  padding: 20px;
  border: 1px solid black;
}
#right-pane{
  width: 50%;
  height: 100vh;
  padding: 25px;
  position: absolute;
  left: 50%;
  border: 1px solid red;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 40px;
  align-items: center;
  background-color: chocolate;
}
table{
  width: 60%;
  text-align: center;
}
#desc-map{
  padding-bottom: 20px;
}