*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#main-outer{
  display: flex;
  flex-direction: column;
}
#main-topic{
    color: green;
}
#left-pane{
  width: 50%;
  height: 100vh;
  padding: 20px;
  border: 1px solid black;
}
#right-pane{
  width: 50%;
  height: 100vh;
  padding: 25px;
  position: absolute;
  left: 50%;
  border: 1px solid red;

}
